<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>345447040570-o7n9m6tkoppl80ennqsckqdehkfnieoq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDW3pUs-tUVF9lZAbRy_8cIo7abfVPP6F4</string>
	<key>GCM_SENDER_ID</key>
	<string>345447040570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.extramarks.smartstudy.in.stag</string>
	<key>PROJECT_ID</key>
	<string>kp-revamp-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>kp-revamp-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345447040570:ios:4aad6d223107b75ebe5703</string>
	<key>DATABASE_URL</key>
	<string>https://kp-revamp-dev-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>